@import "theme";

// VARIABLES
:root {
  // sitewide vars
}

.lightmode {
  @include lightmode;
}

.darkmode {
  @include darkmode;
}

// UNIVERSAL STYLES
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Monteserrat", Roboto, Helvetica Neue, sans-serif;
  background: var(--col-bg-prim);
  color: var(--col-text-prim);
}
a {
  color: var(--col-text-prim);
}

// FULL WEBSITE STYLES
.full-vw-wrapper {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.full-page-wrapper {
  width: 100%;
  overflow-x: hidden;
  background-color: var(--col-bg-prim);
  color: var(--col-text-prim);
}

// HOME PAGE STYLES


// PROJECTS PAGE STYLES

// SINGLE PROJECT PAGE STYLES

// SKILLS PAGE STYLES